<%# raise @products.count.inspect %>
<div class="row">
  <div class="col-md-12 dashboard-header">
    <h2 class="text-center">Admin Dashboard</h2>
  </div>
  <!-- <div class="col-md-12">No of Products : <%= @products.count %></div>
  <div class="col-md-12">No of categories : <%= @categories.count %></div> -->
  <section class="panels col-md-12">
    <div class="col-sm-4">
      <h2>Products : <%= @products.count %></h2>
      <hr />
      <div class="panel-link">
        <a class="" href="/">View Details</a>
        <i class="fa fa-chevron-right"></i>
      </div>
    </div>
    <div class="col-sm-4">
      <h2>categories : <%= @categories.count %></h2>
      <hr />
      <div class="panel-link">
        <a class="" href="categories/1">View Details</a>
        <i class="fa fa-chevron-right"></i>
      </div>
    </div>

    <div class="col-sm-4">
      <h2>Orders : <%= @categories.count %></h2>
      <hr />
      <div class="panel-link">
        <a class="" href="#">View Details</a>
        <i class="fa fa-chevron-right"></i>
      </div>
    </div>
  </section>
</div>
